html,
body {
  padding: 0;
  margin: 0 2rem 0 2rem;
  background: rgb(3, 4, 6);
  background: linear-gradient(
    0deg,
    rgba(3, 4, 6, 1) 1%,
    rgba(20, 25, 31, 1) 56%
  );
  color: #d5cac4;
  min-height: 100vh;
  font-size: 14px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "WildMango";
  src: url("../public/assets/fonts/WildMango.woff2") format("woff2");
}

h1,
h2,
h3 {
  font-family: "WildMango";
  margin: 0;
}

h1 {
  font-size: 24px;
}

@media only screen and (min-width: 1025px) {
  html,
  body {
    font-size: 48px;
  }
  h1 {
    font-size: 96px;
    margin: 0;
  }
}
