@font-face {
  font-family: "WildMango";
  src: url("../public/assets/fonts/WildMango.woff2") format("woff2");
}

@font-face {
  font-family: "RedHatText";
  src: url("../public/assets/fonts/RedHatText-Light.woff2") format("woff2");
}

html,
body {
  padding: 0;
  background: rgb(3, 4, 6);
  background: linear-gradient(
    0deg,
    rgba(3, 4, 6, 1) 1%,
    rgba(20, 25, 31, 1) 56%
  );
  color: #d5cac4;
  margin: 0;
  min-height: 100vh;
  font-size: 0.875rem;
  font-family: "RedHatText";
}
body {
  margin: 0 2% 0 2%;
}

footer {
  text-align: center;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3 {
  font-family: "WildMango";
  margin: 0 0 1rem 0;
}

h1 {
  font-size: 1.5rem;
}

#__next,
main {
  display: flex;
  flex-direction: column;
  gap: 7rem;
}

@media only screen and (min-width: 481px) {
  h2 {
    font-size: 1.188rem;
  }
  h1 {
    font-size: 2.125rem;
    margin: 0;
  }
}

@media only screen and (min-width: 769px) {
  h2 {
    font-size: 1.5rem;
  }
  h1 {
    font-size: 3.125rem;
    margin: 0;
  }
}

@media only screen and (min-width: 1025px) {
  h2 {
    font-size: 2rem;
  }
  h1 {
    font-size: 4rem;
    margin: 0;
    line-height: 0.8;
  }
}

@media only screen and (min-width: 1201px) {
  h2 {
    font-size: 2.25rem;
  }
  h1 {
    font-size: 4.5rem;
    margin: 0;
  }

  html,
  body {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 1441px) {
}
